<nav class="navbar sticky-top navbar-expand-md p-3">
    <div class="container">
        <div class="navbar-brand">
            Spa On
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav"
                aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbar-nav">
            <div class="navbar-nav">
                <a class="nav-link" href="/TeamMinion">
                    Home
                </a>
                <a class="nav-link" href="availability">
                    Availability
                </a>

                <a class="nav-link" href="">
                    Gallery
                </a>
                <a class="nav-link" href="">
                    Services
                </a>
            </div>
        </div>
    </div>
</nav>