<!--
Author: Toby Goetz, Leeroy Hegwood, Zalman Izak
Date: 2/9/2024
Description:
    Availability page tha allows users to interact with a
    calendar, view and select available services for that
    day and finally calculates total upon user input
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <include href="views/layouts/commonHead.html"/>
    <link rel="stylesheet" href="styles/homeStyles.css">
    <link rel="stylesheet" href="styles/availabilityStyles.css">
    <script src="//code.jquery.com/jquery.js"></script>
</head>

<body>

<header>
    <include href="views/layouts/navigation.html"/>
</header>

<main>
    <!-- Row for 2 column view displaying calendar and checkout menu -->
    <div class="row">
        <!-- Calendar Column -->
        <div class="col-md-8">

            <div id="calendarContainer" class="md-6">
                <div id="header">
                    <div id="monthDisplay"></div>
                    <div>
                        <button id="backButton">Back</button>
                        <button id="nextButton">Next</button>
                    </div>
                </div>

<!--                <div id="weekdays">-->
<!--                    <div>Sun</div>-->
<!--                    <div>Mon</div>-->
<!--                    <div>Tue</div>-->
<!--                    <div>Wed</div>-->
<!--                    <div>Thu</div>-->
<!--                    <div>Fri</div>-->
<!--                    <div>Sat</div>-->
<!--                </div>-->

                <div id="calendar"></div>
            </div>

            <div class="container-fluid" id="massageDisplay">
                <div class="row bg-light">
                    <div class="col-md-6 displayColumnLeft">
                        <h1 class="displayHeaders">Massage</h1>
                        <hr>
                        <img src="images/massage.jpeg"
                             class="displayImages"
                             alt="Lady being given a massage">
                        <p class="displayDescriptions">
                            Every massage is individually tailored to your needs. Our
                            therapists are highly-rated practitioners that believe in
                            the healing nature of their art and welcome the chance to
                            apply their skills to your individual physique. We offer a
                            wide range of massage techniques, from holistic full body
                            experiences to rehabilitative and specific region centric
                            focuses.
                        </p>
                    </div>

                    <div class="col-md-6 displayColumnRight">
                        <div class="availability">
                            <h1 id="resFormHeader" class="availabilityHeaders">Availability</h1>
                            <hr>
                        </div>

                        <div id="availableTimes">
                        </div>

                        <form method="post" action="#" id="customizeMassage" class="d-none">
                            <div class="massage-options my-2">
                                <div class="form-floating mb-2">
                                    <select class="form-select" id="massage-type" name="massageType" aria-label="Massage Type" required>
                                        <option value="Shiatsu">Shiatsu</option>
                                        <option value="Deep Tissue">Deep Tissue</option>
                                        <option value="Swedish">Swedish</option>
                                    </select>
                                    <label for="massage-type">Massage Type: </label>
                                </div>
                                <div class="card text-center mb-2 p-3">
                                    <h6>Would you like Hot Stones with your massage?</h6>
                                    <div class="row justify-content-center">
                                        <input type="radio" class="btn-check" name="hotStones" id="hotStonesYes" value="true">
                                        <label class="btn col-3 m-2" for="hotStonesYes">Yes</label>

                                        <input type="radio" class="btn-check" name="hotStones" id="hotStonesNo" value="false">
                                        <label class="btn col-3 m-2" for="hotStonesNo">No</label>
                                    </div>
                                </div>
                                <div class="form-floating mb-2">
                                    <select class="form-select" id="massage-intensity" name="massageIntensity" aria-label="Massage Intensity">
                                        <option value="Delicate">Delicate</option>
                                        <option value="Moderate">Moderate</option>
                                        <option value="Extreme">Extreme</option>
                                    </select>
                                    <label for="massage-intensity">How intense would you like your massage?</label>
                                </div>
                                <div>
                                    <button class="btn btn-primary w-100" type="submit" id="customizeMassage-btn">Go To Check Out</button>
                                </div>
                            </div>

                        </form>

                        <form method="post" action="#" id="massageCheckout" class="d-none">
                            <h5 class="text-center">
                                Massage on <span id="date-checkout-display"></span>
                                at <span id="time-checkout-display"></span>
                            </h5>
<!--                            <div class="massage-options my-2">-->
<!--                                <h4>Customize Your Massage</h4>-->
<!--                                <hr>-->
<!--                                <div class="form-floating mb-2">-->
<!--                                    <select class="form-select" id="massage-type" name="massageType" aria-label="Massage Type" required>-->
<!--                                        <option value="Shiatsu">Shiatsu</option>-->
<!--                                        <option value="Deep Tissue">Deep Tissue</option>-->
<!--                                        <option value="Swedish">Swedish</option>-->
<!--                                    </select>-->
<!--                                    <label for="massage-type">What type of massage would you like?</label>-->
<!--                                </div>-->
<!--                                <div class="card text-center mb-2 p-3">-->
<!--                                    <h6>Would you like Hot Stones with your massage?</h6>-->
<!--                                    <div class="row justify-content-center">-->
<!--                                        <input type="radio" class="btn-check" name="hotStones" id="hotStonesYes" value="true">-->
<!--                                        <label class="btn col-3 m-2" for="hotStonesYes">Yes</label>-->

<!--                                        <input type="radio" class="btn-check" name="hotStones" id="hotStonesNo" value="false">-->
<!--                                        <label class="btn col-3 m-2" for="hotStonesNo">No</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-floating mb-2">-->
<!--                                    <select class="form-select" id="massage-intensity" name="massageIntensity" aria-label="Massage Intensity">-->
<!--                                        <option value="Delicate">Delicate</option>-->
<!--                                        <option value="Moderate">Moderate</option>-->
<!--                                        <option value="Extreme">Extreme</option>-->
<!--                                    </select>-->
<!--                                    <label for="massage-intensity">How intense would you like your massage?</label>-->
<!--                                </div>-->
<!--                            </div>-->
                            <br>
                            <div class="my-2">
                                <h4>Your Info</h4>
                                <hr>
                                <div>
                                    <input class="form-control" type="text" id="date" name="date" hidden>
                                    <input class="form-control" type="text" id="time" name="time" hidden>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="first-name" name="firstName"
                                           placeholder="" required>
                                    <label for="first-name">First Name</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="last-name" name="lastName"
                                           placeholder="" required>
                                    <label for="last-name">Last Name</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="" required>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button class="btn btn-primary w-100" type="submit" id="checkOut-btn">Check Out</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="salonDisplay">
                <div class="row bg-light">
                    <div class="col-md-6 displayColumnLeft">
                        <h1 class="displayHeaders">Salon</h1>
                        <hr>
                        <img src="images/hairCut4.jpeg"
                             class="displayImages"
                             alt="picture of a lady washing a clients hair"
                             id="hairCutPic">

                        <p class="displayDescriptions"> Every massage is individually tailored to your needs. Our
                            therapists are highly-rated practitioners that believe in
                            the healing nature of their art and welcome the chance to
                            apply their skills to your individual physique. We offer a
                            wide range of massage techniques, from holistic full body
                            experiences to rehabilitative and specific region centric
                            focuses. </p>
                    </div>

                    <div class="col-md-6 displayColumnRight">
                        <div class="availability">
                            <h1 class="availabilityHeaders">Availability</h1>
                            <hr>
                        </div>
                        <div class="availableTimes">
                            <button class="times">1pm</button>
                            <button class="times">1pm</button>
                            <button class="times">1pm</button>
                            <button class="times">1pm</button>
                            <button class="times">1pm</button>
                            <button class="times">1pm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Checkout Column -->
<!--        <div class="col-md-4" id="checkOutColumn">-->

<!--            <form class="container-md-6 checkOut" method="post" action="#" id="checkOut">-->
<!--                <h1 class="checkOutHeader">Your Reservations:</h1>-->
<!--                <input class="form-control"-->
<!--                       -->
<!--                       id="date"-->
<!--                       value=""-->
<!--                       name="date"-->
<!--                       hidden>-->

<!--                <input class="form-control"-->
<!--                       type="text"-->
<!--                       id="time"-->
<!--                       value=""-->
<!--                       name="time"-->
<!--                       hidden>-->

<!--                <label for="first-name">First Name</label>-->
<!--                <input class="form-control"-->
<!--                       type="text"-->
<!--                       id="first-name"-->
<!--                       value=""-->
<!--                       name="firstName"-->
<!--                       placeholder="Sarah">-->

<!--                <label for="last-name">Last Name</label>-->
<!--                <input class="form-control"-->
<!--                       type="text"-->
<!--                       id="last-name"-->
<!--                       value=""-->
<!--                       name="lastName"-->
<!--                       placeholder="Smith">-->

<!--                <label for="email">Email</label>-->
<!--                <input class="form-control"-->
<!--                       type="text"-->
<!--                       id="email"-->
<!--                       value=""-->
<!--                       name="email"-->
<!--                       placeholder="my_email@gmail.com">-->

<!--                <hr>-->
<!--                <button class="btn btn-primary" type="submit">Check Out</button>-->
<!--                <br>-->

<!--                <label for="total">Total</label>-->
<!--                <input class="form-control"-->
<!--                       type="text"-->
<!--                       id="total"-->
<!--                       value=""-->
<!--                       name="total"-->
<!--                       placeholder="$0.00">-->

<!--            </form>-->

<!--        </div>-->
<!--        </div>-->

<!--    <div class="container-fluid" id="massageDisplay">-->
<!--        <div class="row bg-light">-->
<!--            <div class="col-md-4">-->
<!--                <h1>Massage</h1>-->
<!--                <img src="images/massage.jpeg"-->
<!--                     width="250px"-->
<!--                     alt="Lady being given a massage">-->
<!--                <p>-->
<!--                    Every massage is individually tailored to your needs. Our-->
<!--                    therapists are highly-rated practitioners that believe in-->
<!--                    the healing nature of their art and welcome the chance to-->
<!--                    apply their skills to your individual physique. We offer a-->
<!--                    wide range of massage techniques, from holistic full body-->
<!--                    experiences to rehabilitative and specific region centric-->
<!--                    focuses.-->
<!--                </p>-->
<!--            </div>-->

<!--            <div class="col-md-4 bg-primary d-block">-->
<!--                <h2>Available Appointments</h2>-->
<!--                <hr>-->

<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->

<!--    <div class="container-fluid">-->
<!--        <div class="row bg-light">-->
<!--            <div class="col-md-4">-->
<!--                <h1>Salon</h1>-->
<!--                <img src="images/hairCut4.jpeg"-->
<!--                     width="250px"-->
<!--                     id="hairCutPic">-->

<!--                <p> Every massage is individually tailored to your needs. Our-->
<!--                    therapists are highly-rated practitioners that believe in-->
<!--                    the healing nature of their art and welcome the chance to-->
<!--                    apply their skills to your individual physique. We offer a-->
<!--                    wide range of massage techniques, from holistic full body-->
<!--                    experiences to rehabilitative and specific region centric-->
<!--                    focuses. </p>-->
<!--            </div>-->

<!--            <div class="col-md-4 bg-primary d-block">-->
<!--                <h2>Available Appointments</h2>-->
<!--                <hr>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <!--Footer-->
    <footer class="p-3 text-center">
        <p>&copy; 2024</p>
    </footer>

</main>

<script src="scripts/calendarScript.js"></script>

</body>

</html>
