<!--
Author: Toby Goetz, Leeroy Hegwood, Zalman Izak
Date: 2/9/2024
Description:
    Availability page tha allows users to interact with a
    calendar, view and select available services for that
    day and finally calculates total upon user input
-->

<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL, HtmlUnknownTarget -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/availabilityStyles.css">
    <link rel="stylesheet" href="styles/homeStyles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>

<body>

    <!-- NavBar -->
    <header>
        <nav class="navbar sticky-top navbar-expand-md p-3">
            <div class="container">
                <div class="navbar-brand">
                    Spa On
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav"
                        aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbar-nav">
                    <div class="navbar-nav">
                        <a class="nav-link" href="TeamMinion/">
                            Home
                        </a>
                        <a class="nav-link" href="availability">
                            Availability
                        </a>

                        <a class="nav-link" href="/">
                            Gallery
                        </a>
                        <a class="nav-link" href="/">
                            Services
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


<main>

    <div class="row">
        <div class="col-md-6">

            <div id="container" class="md-6">
                <div id="header">
                    <div id="monthDisplay"></div>
                    <div>
                        <button id="backButton">Back</button>
                        <button id="nextButton">Next</button>
                    </div>
                </div>

                <div id="weekdays">
                    <div>Sunday</div>
                    <div>Monday</div>
                    <div>Tuesday</div>
                    <div>Wednesday</div>
                    <div>Thursday</div>
                    <div>Friday</div>
                    <div>Saturday</div>
                </div>

                <div id="calendar"></div>
            </div>





<!--            <div id="newEventModal">-->
<!--                <h2>New Event</h2>-->
<!--                <input id="eventTitleInput" placeholder="Event Title">-->

<!--                <button id="saveButton">Save</button>-->
<!--                <button id="cancelButton">Cancel</button>-->

<!--            </div>-->

<!--            <div id="deleteEventModal">-->
<!--                <h2>Event</h2>-->
<!--                <p id="eventText"></p>-->
<!--                <button id="deleteButton">Delete</button>-->
<!--                <button id="closeButton">Close</button>-->
<!--                <div id="modalBackDrop"></div>-->

<!--            </div>-->
        </div>

        <div class="col-md-6">
            <p>Hi Toby</p>
        </div>
    </div>

    <!--Footer-->
    <footer class="p-3 text-center">
        <p>&copy 2024</p>
    </footer>

</main>


<script src="scripts/calendarScript.js"></script>

</body>

</html>
