<!--
Author: Toby Goetz, Leeroy Hegwood, Zalman Izak
Date: 2/9/2024
Description:
    Availability page tha allows users to interact with a
    calendar, view and select available services for that
    day and finally calculates total upon user input
-->

<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL, HtmlUnknownTarget -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="images/lotus-icon.svg">
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- styles specific to this page -->
    <link rel="stylesheet" href="styles/availabilityStyles.css">
    <!-- styles from home page -->
    <link rel="stylesheet" href="styles/homeStyles.css">
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>

<body>

    <!-- NavBar -->
    <header>
        <nav class="navbar sticky-top navbar-expand-md p-3">
            <div class="container">
                <div class="navbar-brand">
                    Spa On
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav"
                        aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbar-nav">
                    <div class="navbar-nav">
                        <a class="nav-link" href="TeamMinion/">
                            Home
                        </a>
                        <a class="nav-link" href="availability">
                            Availability
                        </a>

                        <a class="nav-link" href="">
                            Gallery
                        </a>
                        <a class="nav-link" href="">
                            Services
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


<main>

    <!-- Row for 2 column view displaying calendar and checkout menu -->
    <div class="row">
        <!-- Calendar Column -->
        <div class="col-md-8">

            <div id="container" class="md-6">
                <div id="header">
                    <div id="monthDisplay"></div>
                    <div>
                        <button id="backButton">Back</button>
                        <button id="nextButton">Next</button>
                    </div>
                </div>

<!--                <div id="weekdays">-->
<!--                    <div>Sun</div>-->
<!--                    <div>Mon</div>-->
<!--                    <div>Tue</div>-->
<!--                    <div>Wed</div>-->
<!--                    <div>Thu</div>-->
<!--                    <div>Fri</div>-->
<!--                    <div>Sat</div>-->
<!--                </div>-->

                <div id="calendar"></div>
            </div>

            <div class="container-fluid" id="massageDisplay">
                <div class="row bg-light">
                    <div class="col-md-6">
                        <h1>Massage</h1>
                        <img src="images/massage.jpeg"
                             width="250px"
                             alt="Lady being given a massage">
                        <p>
                            Every massage is individually tailored to your needs. Our
                            therapists are highly-rated practitioners that believe in
                            the healing nature of their art and welcome the chance to
                            apply their skills to your individual physique. We offer a
                            wide range of massage techniques, from holistic full body
                            experiences to rehabilitative and specific region centric
                            focuses.
                        </p>
                    </div>

                    <div class="col-md-6 bg-primary">
                        <h2>Available Appointments</h2>
                        <hr>

                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                    </div>


                </div>
            </div>

            <div class="container-fluid">
                <div class="row bg-light">
                    <div class="col-md-6">
                        <h1>Salon</h1>
                        <img src="images/hairCut4.jpeg"
                             width="250px"
                             id="hairCutPic">

                        <p> Every massage is individually tailored to your needs. Our
                            therapists are highly-rated practitioners that believe in
                            the healing nature of their art and welcome the chance to
                            apply their skills to your individual physique. We offer a
                            wide range of massage techniques, from holistic full body
                            experiences to rehabilitative and specific region centric
                            focuses. </p>
                    </div>

                    <div class="col-md-6 bg-primary">
                        <h2>Available Appointments</h2>
                        <hr>
                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                        <button class="times">1pm</button>
                    </div>
                </div>
            </div>

        </div>



        <!-- Checkout Column -->
        <div class="col-md-4" id="checkOutBox">
            <h1>Check Out:</h1>
            <div class="container-md-6 row">
            </div>
        </div>
    </div>

<!--    <div class="container-fluid" id="massageDisplay">-->
<!--        <div class="row bg-light">-->
<!--            <div class="col-md-4">-->
<!--                <h1>Massage</h1>-->
<!--                <img src="images/massage.jpeg"-->
<!--                     width="250px"-->
<!--                     alt="Lady being given a massage">-->
<!--                <p>-->
<!--                    Every massage is individually tailored to your needs. Our-->
<!--                    therapists are highly-rated practitioners that believe in-->
<!--                    the healing nature of their art and welcome the chance to-->
<!--                    apply their skills to your individual physique. We offer a-->
<!--                    wide range of massage techniques, from holistic full body-->
<!--                    experiences to rehabilitative and specific region centric-->
<!--                    focuses.-->
<!--                </p>-->
<!--            </div>-->

<!--            <div class="col-md-4 bg-primary d-block">-->
<!--                <h2>Available Appointments</h2>-->
<!--                <hr>-->

<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->

<!--    <div class="container-fluid">-->
<!--        <div class="row bg-light">-->
<!--            <div class="col-md-4">-->
<!--                <h1>Salon</h1>-->
<!--                <img src="images/hairCut4.jpeg"-->
<!--                     width="250px"-->
<!--                     id="hairCutPic">-->

<!--                <p> Every massage is individually tailored to your needs. Our-->
<!--                    therapists are highly-rated practitioners that believe in-->
<!--                    the healing nature of their art and welcome the chance to-->
<!--                    apply their skills to your individual physique. We offer a-->
<!--                    wide range of massage techniques, from holistic full body-->
<!--                    experiences to rehabilitative and specific region centric-->
<!--                    focuses. </p>-->
<!--            </div>-->

<!--            <div class="col-md-4 bg-primary d-block">-->
<!--                <h2>Available Appointments</h2>-->
<!--                <hr>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--                <button class="times">1pm</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <!--Footer-->
    <footer class="p-3 text-center">
        <p>&copy; 2024</p>
    </footer>

</main>

<script src="scripts/calendarScript.js"></script>

</body>

</html>
