<!--
Author: Toby Goetz, Leeroy Hegwood, Zalman Izak
Date: 2/9/2024
Description:
    Spa Home Page that utilizes
    bootstrap, MVC and Fat-Free.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/layouts/commonHead.html"/>
    <link rel="stylesheet" href="styles/homeStyles.css">
</head>
<body>
<header>
    <include href="views/layouts/navigation.html"/>
</header>
<main class="p-4">

    <div class="row">

        <div class="text-center">
            <img src="images/thai-massage.jpeg" alt="picture of spa" id="600x400img">
        </div>
    </div>

    <br>

    <div class="text-center">
        <h2>We help connect people with great Spa Experiences</h2><br>
        <h3>You're always one search away from paradise.</h3>

        <div class="container mt-5 d-flex justify-content-center">
            <div class="card border-dark p-3" id="form">
                <h4 class="card-title">Find an Event</h4>
                <form action="availability" method="POST" class="row">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="event">Event Type:</label>
                            <select id="event" class="form-control" name="event">
                                <option>Massage</option>
                                <option>Facial</option>
                                <option>Manicure/Pedicure</option>
                                <option>Yoga Session</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="date">Date:</label>
                            <input type="number" class="form-control" id="date" name="date">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="time">Time:</label>
                            <input type="number" class="form-control" id="time" name="time">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="state">State:</label>
                            <input type="text" class="form-control" id="state" name="state">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" id="city" name="city">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>


</main>

<footer class="p-3 text-center">
    <p>&copy; 2024</p>
</footer>

</body>
</html>
