<!--
Author: Toby Goetz, Leeroy Hegwood, Zalman Izak
Date: 2/9/2024
Description:
    Haang Home Page that utilizes
    bootstrap, MVC and Fat-Free.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="images/lotus-icon.svg">

    <!--Include Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/homeStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>

<header>
    <include href="app/views/layouts/navigation.html"/>
</header>

<main class="p-4">

    <div class="row">

        <div class="text-center">
            <img src="images/HAANG_LOGO.png" alt="HAANG logo" id="600x400img">
        </div>
    </div>

    <br>

    <div class="text-center">
        <h2>Create and Find Events</h2><br>
        <h3>It can be personal, or just business</h3>

        <h3>Sign In to start</h3>

        <a href="/signIn" class="btn btn-primary">Sign In with HAANG</a>

        <h1> OR </h1>

        <h3>Get your Spa-On</h3>

        <a href="/external" class="btn btn-primary">go to Spa-On</a>

        <!--      HAANG with us or get your Spa-On (have side to side buttons with big OR in between them)  -->

    </div>




</main>

<footer class="p-3 text-center">

</footer>

</body>
</html>
