    <!--<button type="submit" class="btn btn-primary text-center" name="ownedUserID" id="ownedUserID" value="{{ @SESSION.user->getUserId() }}">click to see Owned Events</button>-->


    <!--
    Author: Toby Goetz, Leeroy Hegwood, Zalman Izak
    Date: 2/9/2024
    Description:
        Haang Home Page that utilizes
        bootstrap, MVC and Fat-Free.
    -->

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Leave Event</title>
        <link rel="icon" type="image/x-icon" href="images/lotus-icon.svg">

        <!--Include Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/homeStyles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>

    <body>

    <header>
        <include href="app/views/layouts/navigation.html"/>
    </header>

    <main class="p-4">

        <h3>
            Are you sure you want to leave this Event?
        </h3>

    <!--    <form action="processLeaveEvent" method="post">-->
    <!--        <input type="hidden" name="leaveEventId" value="{{ @leaveEventId }}">-->
    <!--        <input type="hidden" name="leaveUserId" value="{{ @leaveUserId }}">-->
    <!--        <button type="submit" class="btn btn-primary text-center">Confirm to leave this event</button>-->
    <!--    </form>-->

        <form action="processLeaveEvent" method="post">
            <input type="hidden" name="leaveEventId" value="{{ @SESSION.leaveEventId }}">
            <input type="hidden" name="leaveUserId" value="{{ isset(@SESSION.user) ? @SESSION.user->getUserId() : '' }}">
            <button type="submit" class="btn btn-primary">Leave Event</button>
        </form>

        <br>

        <form action="joinedEvents" method="post">
            <button type="submit" class="btn btn-primary text-center" name="returnUserID" id="returnUserID" value="{{ @SESSION.user->getUserId() }}">I change my mind</button>
        </form>






    </main>

    <footer class="p-3 text-center">

    </footer>

    </body>
    </html>
