/*
Author: Toby Goetz, Leeroy Hegwood, Zalman Izak
Date: 2/9/2024
Description:
    Styles for home.html.
*/

:root {
    --primary-color: #FFC300; /* naples yellow */
    --primary-color-variant: #FFE15C; /* mikado yellow */
    --white: white;
}

/* general styles */

body, header, footer {
    background-color: var(--primary-color);
}

main {
    background-color: var(--primary-color-variant);
}

img{
    max-width:600px;
    max-height:400px;
}

